@import '@carbon/styles/scss/theme';

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.configOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* optional spacing */
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
