@import '@carbon/styles/scss/theme';

.container {
  display: flex;
  flex-direction: column;
}

.configOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topDivider {
  border-top: 1px solid $border-subtle-00;
  padding-top: 1rem;
}
