@import '@carbon/styles/scss/theme';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note {
  color: $text-helper;
  font-style: italic;
  padding-top: 1rem;
}

.fixedSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fixedTextContainer {
  display: flex;
  flex-direction: column;
}

.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skeletonLabelText {
  color: $text-helper;
  font-style: italic;
  padding-top: 1rem;
}

.added {
  background-color: $support-success;
}

.removed {
  text-decoration: line-through $text-error;
  background-color: $text-error;
}
