@import '@carbon/styles/scss/theme';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note {
  color: $text-helper;
  font-style: italic;
  padding-top: 1rem;
}

.fixedSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fixedTextContainer {
  display: flex;
  flex-direction: column;
}

.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skeletonLabelText {
  color: $text-helper;
  font-style: italic;
  padding-top: 1rem;
}

.added {
  background-color: #b5efdb;
}

.removed {
  text-decoration: line-through red;
  background-color: #ee9690;
}
