@import '@carbon/styles/scss/theme';

.uploadTestCaseDetailsContainer {
  border-top: 1px solid $border-subtle-00;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.criteriaContainer {
  margin-top: 1rem;
}
