@import '@carbon/styles/scss/theme';

.positional-bias-link {
  color: $link-inverse;
}

.errorText {
  color: $text-error;
}

.explanation {
  white-space: break-spaces;
}

.gridTemplate {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.accordionFullWidth :global .cds--accordion__content {
  -webkit-padding-end: 5%;
}
