@import '@carbon/react/scss/spacing';
@import '@carbon/styles/scss/theme';
@import '@carbon/react/scss/type';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 48px);
  background-color: $layer-01;
}

.title {
  @include type-style('productive-heading-05');
  color: $text-primary;
  margin-bottom: $spacing-06;
  text-align: center;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authContainer button {
  width: 100%;
  padding: $spacing-04;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
}
