@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/type';

.api-key-content-div {
  border: 1px solid $border-strong-01;
}

.api-key-password-style {
  -webkit-text-security: disc;
}

.modelProvider {
  margin-bottom: 1rem;
}

.modelProviderName {
  @include type-style('heading-01');
  margin-bottom: 0.5rem;
}

.credential {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.credentialLabel {
  width: 20%;
}

.bottomDivider {
  border-bottom: 1px solid $border-subtle-00;
  margin-bottom: 1rem;
}
