.loadingWrapper {
  height: 48px;
}

.loadingWrapper :global .cds--inline-loading__text {
  font-size: 0.95rem;
  font-weight: var(--cds-body-compact-01-font-weight, 400);
  line-height: var(--cds-body-compact-01-line-height, 1.28572);
  letter-spacing: var(--cds-body-compact-01-letter-spacing, 0.16px);
}
