@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/utilities/convert';

.root {
  height: 100%;
  display: grid;
  grid-template-rows: rem(40px) 1fr;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: minmax(0, auto);
  overflow: hidden;
}

.topbar {
  border-bottom: 1px solid $border-subtle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-07 0 $spacing-05;
}

.body {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: $spacing-06;
  height: 100%;
  background-color: $layer;
}

.promptContainer {
  display: grid;
  width: 100%;
  grid-template-rows: max-content 1fr;
  z-index: 0;
  background-color: $background;
  border: 1px solid $border-subtle;
}

.promptForm {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: stretch;
  overflow: hidden;
}

.promptFormContent {
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: $background;
  overflow: hidden;
}

.promptFormContentInner {
  width: 100%;
  display: flex;
  align-items: stretch;
  background-color: $background;
}
