@import '@carbon/styles/scss/spacing';
@import '@carbon/styles/scss/theme';

.root {
  display: flex;
  flex-direction: column;
}

.heading {
  //styleName: Productive/heading-01;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: $text-primary;
  margin-bottom: $spacing-04;
}

.description {
  //styleName: Productive/heading-03;
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: $text-secondary;
  margin-bottom: $spacing-05;
}

.sectionSeparation {
  margin-top: 1rem;
}

.cards {
  margin-bottom: $spacing-06;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .cards {
    &:not(.sidebar-expanded) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 970px) {
  .cards.sidebar-expanded {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .cards {
    &:not(.sidebar-expanded) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1570px) {
  .cards.sidebar-expanded {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-white-mode {
  background-color: $background;
}

.bottomDivider {
  padding-bottom: 1rem;
  border-bottom: 1px solid $border-subtle-00;
}
