@import '@carbon/styles/scss/theme';

.winner-response :global .cds--text-area__wrapper .cds--text-area {
  border: solid $support-success !important;
  overflow-y: hidden;
}

.winner-text {
  color: $support-success;
}
