@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/utilities/convert';
@import '@carbon/styles/scss/spacing';

.content {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: minmax(0, auto);
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  padding: $spacing-06;
  height: 100%;
}

.custom-sidenav {
  border-right: 1px solid $border-subtle-00;
}

.accordion-wrapper :global .cds--accordion__wrapper .cds--accordion__content {
  padding-right: 1rem !important;
}

.accordion-wrapper {
  border-bottom: none !important;
}

.loading-wrapper :global .cds--inline-loading__text {
  // taken from button css
  font-size: 0.95rem;
  font-weight: var(--cds-body-compact-01-font-weight, 400);
  line-height: var(--cds-body-compact-01-line-height, 1.28572);
  letter-spacing: var(--cds-body-compact-01-letter-spacing, 0.16px);
}

// fixes tooltip getting cut
.table-wrapper :global(.cds--data-table-content) {
  overflow: visible;
}

.api-key-content-div {
  border: 1px solid $border-strong-01;
}

.bottom-divider {
  border-bottom: 1px solid $border-subtle-00;
}

.left-padding {
  padding-left: 1rem;
}

.vertical-divider {
  width: 1px;
  background-color: $border-subtle-00;
}

.subtitle {
  //styleName: Body/Body strong (ds-body ds-strong);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.table-row-error :global td {
  color: $text-error;
}

.api-key-reminder-text {
  color: $text-secondary;
}

.horizontal-divider {
  height: 0;
  border: 0;
  border-bottom: 1px solid $border-subtle-00;
  margin-bottom: 2rem;
}
