@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/components/tag/tokens';

.primaryColor {
  color: $text-primary;
  white-space: pre;
}

.matchColor {
  color: $tag-color-purple;
  background-color: $tag-background-purple;
  // white-space: pre;
  border-radius: 1rem !important;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.displayedTextArea {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.hiddenTextArea {
  background: transparent !important;
  color: transparent !important;
  caret-color: $background-inverse;
  z-index: 100;
}
