@use '@carbon/styles/scss/theme' as *;

.custom-sidenav {
  border-right: 1px solid $border-subtle-00;
}

.accordion-wrapper :global .cds--accordion__wrapper .cds--accordion__content {
  padding-right: 1rem !important;
}

.accordion-wrapper {
  border-bottom: none !important;
}

.loading-wrapper :global .cds--inline-loading__text {
  // taken from button css
  font-size: 0.95rem;
  font-weight: var(--cds-body-compact-01-font-weight, 400);
  line-height: var(--cds-body-compact-01-line-height, 1.28572);
  letter-spacing: var(--cds-body-compact-01-letter-spacing, 0.16px);
}

// fixes tooltip getting cut
.table-wrapper :global(.cds--data-table-content) {
  overflow: visible;
}

.api-key-content-div {
  border: 1px solid $border-strong-01;
}

.bottom-divider {
  border-bottom: 1px solid $border-subtle-00;
}

.left-padding {
  padding-left: 1rem;
}

.vertical-divider {
  width: 1px;
  background-color: $border-subtle-00;
}

.subtitle {
  //styleName: Body/Body strong (ds-body ds-strong);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.table-row-error :global td {
  color: $text-error;
}

.api-key-reminder-text {
  color: $text-secondary;
}

.horizontal-divider {
  height: 0;
  border: 0;
  border-bottom: 1px solid $border-subtle-00;
  margin-bottom: 2rem;
}

.documentation p {
  font-size: var(--cds-body-01-font-size, 0.875rem);
  font-weight: var(--cds-body-01-font-weight, 400);
  line-height: var(--cds-body-01-line-height, 1.42857);
  letter-spacing: var(--cds-body-01-letter-spacing, 0.16px);
  color: var(--cds-text-secondary, #4d5358);
  margin-bottom: 2rem;
  padding-right: 50%;
}

.documentation h2 {
  letter-spacing: var(--cds-heading-03-letter-spacing, 0);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375;
  margin-bottom: 1rem;
}
