@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/utilities/convert';
@import '@carbon/styles/scss/colors';
@import '@carbon/styles/scss/motion';
@import '@carbon/styles/scss/spacing';

$block-radius: 4px;

$columns-1: 1fr 0 0 0;
$columns-2: 5fr 1fr 0 0;
$columns-3-var1: 5fr 1fr 1fr 0;
$columns-3-var2: 4fr 1fr 2fr 0;
$columns-4: 3fr 1fr 1fr 2fr;

.content {
  display: flex;
  justify-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

  > * {
    width: 100%;
  }

  textarea,
  input[type='text'] {
    resize: none;
    border: none;
    background: transparent;
    font-size: rem(14px);
    line-height: rem(18px);
    padding-right: 10%;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blockElement {
  background-color: $field;
  border-left: 1px solid $border-subtle-01;
  border-right: 1px solid $border-subtle-01;
  border-radius: $block-radius;
  &:not(:last-child):not(.addResponseBlock) {
    border-right: none;
  }
}

.tableRow {
  width: 100%;
  display: grid;

  .blockElement {
    border-radius: 0;

    textarea {
      min-height: max(rem(50px), 100%);
      height: rem(50px);
    }

    :global(.cds--text-area__wrapper) {
      height: 100%;
    }
  }

  &.noBorderBottom {
    border-bottom: 0;
  }
}

.headerRow {
  border-bottom: 1px solid $border-subtle-01;
  border-top: 1px solid $border-subtle-01;
}

.addResponseRow {
  grid-template-columns: $columns-1;
  border-bottom: 1px solid $border-subtle-01;
}

.tableRow.tableRowWithExpectedResult {
  &:not(.tableRowWithResults.tableRowWithExplanation) {
    grid-template-columns: $columns-2;
  }
  &.tableRowWithResults:not(.tableRowWithExplanation) {
    grid-template-columns: $columns-3-var1;
  }
  &.tableRowWithExplanation.tableRowWithResults {
    grid-template-columns: $columns-4;
  }
}

.tableRow:not(.tableRowWithExpectedResult) {
  &:not(.tableRowWithResults.tableRowWithExplanation) {
    grid-template-columns: $columns-1;
  }
  &.tableRowWithResults:not(.tableRowWithExplanation) {
    grid-template-columns: $columns-2;
  }
  &.tableRowWithExplanation.tableRowWithResults {
    grid-template-columns: $columns-3-var2;
  }
}

.addResponseBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(50px);
  border-radius: 0 0 $block-radius $block-radius !important;
  > button {
    display: flex;
    align-items: center;

    &:hover {
      background: transparent;
    }
  }
}

.headerBlock {
  padding: rem(11px) 0 rem(11px) rem(11px);
  background-color: $field-hover-01;
}

.headerTypography {
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.resultBlock {
  position: relative;
  padding: 11px 16px 11px 16px;
}

.resultBlockInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 0.5rem;
}

.resultBlockOuter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.resultBlockHover {
  &:hover {
    background-color: $field-hover-01;
  }
}

.resultBlockPointerCursor {
  cursor: pointer;
}

.resultBlockDefaultCursor {
  cursor: default !important;
  textarea {
    cursor: default !important;
  }
}

.resultBlockTypography {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.resultPlaceholder {
  color: $text-placeholder;
}

.resultDetailsAction {
  visibility: hidden;
  cursor: pointer;
  align-self: flex-end;
  margin-right: -13px;
  svg {
    fill: $link-primary;
  }
}

.responsesRow {
  min-height: rem(85px);
  border-bottom: 1px solid $border-subtle-01;
}

.responsesRow:hover {
  .resultDetailsAction {
    visibility: visible;
  }
}

.resultDetailsAction {
  text-decoration: none !important;
}

.winnerResponseOutline {
  border: 1px solid $support-success !important;
  border-radius: 1px;
  background-color: green !important;

  .blockElement {
    border-top: 0;
    border-bottom: 0;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.innerContainer .winnerResponseOutline {
  .responsesRow:first-child {
    border-radius: 0;
  }

  .responsesRow:last-child {
    border-radius: 0 0 $block-radius $block-radius;
  }
}

.untrastedResultTypography {
  color: $text-error;
}

.positionalBias {
  color: $text-error;
  font-size: small;
}

.softText {
  display: flex;
  align-items: center;
  color: $text-helper;
  font-size: small;
}

.positionalBiasTag {
  margin-top: 0.5rem;
  margin-left: -3px !important;
}

.toggle {
  margin-top: 1rem;
}

.toggle :global .cds--toggle__text {
  color: $text-helper;
}

.toggles {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
