@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/utilities/convert' as *;

.root {
  position: fixed;
  color: $text-primary;
  display: flex;
  z-index: 1;
  background-color: $background;
}

.items {
  border-right: 1px solid $border-subtle;
}

.panel {
  border-right: 1px solid $border-subtle;
  overflow: hidden;
}
