@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/styles/scss/utilities/convert' as *;
@use '@carbon/styles/scss/utilities/focus-outline' as *;
@use '@carbon/styles/scss/utilities/z-index' as *;
@use '@carbon/styles/scss/motion' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/colors' as *;

.toasts {
  position: fixed;
  // Offset by navbar height
  top: $spacing-09;
  right: 0;
  // Set the z-index between the modal and dropdown.
  z-index: z('modal') + 1;

  > * {
    margin-top: $spacing-03;
    margin-right: $spacing-03;
  }

  :global(.cds--toast-notification) {
    width: rem(360px);
  }
  :global(.cds--toast-notification__details) {
    flex-grow: 1;
    margin-right: 0;
  }
}
