.benchmark-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.benchmark-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.benchmark-groupby-select {
  max-width: 300px;
}
