@import '@carbon/styles/scss/theme';

.popoverContainer {
  display: flex;
  flex-direction: row;
}

.iconButton {
  border-left-color: $border-subtle-02;
  &:hover {
    background-color: $background-brand;
  }
}
