.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tagsSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
