@import '@carbon/styles/scss/theme';
@import '@carbon/styles/scss/utilities/convert';
@import '@carbon/styles/scss/colors';
@import '@carbon/styles/scss/motion';

.container {
  position: relative;
  border-radius: 4px;
  &:hover {
    z-index: 2;
    .outline {
      opacity: 1;
    }
    .actionButtonsContainer {
      opacity: 1;
    }
  }
}

.outline {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  pointer-events: none;
  z-index: 2;
  outline: 1px solid $focus;
  opacity: 0;
  border-radius: 3px;
  transition: opacity $duration-fast-01;
}

.actionButtonsContainer {
  position: absolute;
  top: 0;
  left: -27px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 0.7rem;
  padding-top: 0.75rem;
  opacity: 0;
  transition: opacity $duration-slow-01;

  &.active {
    opacity: 1;
  }
}

.actionButton {
  border: none;
  border-radius: 50%;
  width: rem(16px);
  height: rem(16px);
  background: transparent;
  z-index: 2;
  cursor: pointer;
  transition: opacity $duration-fast-02;
  padding: 0;
  svg {
    fill: $link-primary;
  }

  :hover {
    background: $background-hover;
  }
}
